
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global */
.container{
    width: 100%;
    overflow-y: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
/*Header */
header{
    background: #4a5568;
    color: #ffffff;
    min-height: 70px;
    border-bottom:#fed7d7 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    margin: 3;

    
}
header #branding h1{
    font-size: 20px;
    margin-left: 50px;

    
}
header nav{
    float: right;
    margin-top: 18px;
}

header .highlight, header .current a{
   color: #38a169;
   font-weight: bold;
   
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* showcase*/
#showcase{
    min-height: 300px;
    text-align: center;
    color: #ffffff;
    background: url('../images/showcase.jpg') no-repeat 0 5px;
    background-size: cover;
    background-attachment: fixed; 
    padding:80px;
    margin: 30px 0;
}
#showcase p{
    font-size: 20px;
}
.btn{
    height: 38px;
    width: 200px;
    border: 0;
    background-color: #38a169;
    text-align: center;
    text-decoration: none;
}
#btn{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px
}
footer{
    padding: 15px;
    color: #000000;
    margin-top: 45px;
    background-color: #cbd5e0;
    text-align: center;
}

@media(max-width: 500px){
    header #branding{
        margin-left: 90px;
    }
    header nav{
        margin-right: 20px;
    }
    #showcase{
        padding: 20px;
    }
}
@media (max-width: 375px){
    header #branding{
        margin-left: 70px;
    }
    header nav ul li{
        padding: 0 10px;
    }
    #showcase .container p{
        font-size: 14px;
    }
}
@media (max-width: 411px){
    header #branding{
        margin-left: 70px;
    }
    header nav ul li{
        padding: 0 10px;
    }
    #showcase .container p{
        font-size: 14px;
    }
}
@media(max-width: 320px){
    header #branding{
        margin-left: 80px;
    }
    header .container{
        width: 100%;
    }
    header nav{
        margin-right: 30px;
    }
}