body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Header */
header{
    background: #35425a;
    color: #ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}