body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 0;
}
/*Global */
.container{
    width: 100%;
    overflow-y: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
/*Header */
header{
    background: #4a5568;
    color: #ffffff;
    min-height: 70px;
    border-bottom:#fed7d7 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    margin-right: 9px;
    padding-right: 6px;
    margin-top: 20px;


    
}
header #branding h1{
    font-size: 20px;
    margin-left: 50px;

    
}
header nav{
    float: right;
    margin-top: 18px;
}

header .highlight, header .current a{
   color: #38a169;
   font-weight: bold;
   
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

.sidebar{
    width: 200px;
    max-width: 100%;
    height: 100%;
    background:#F0F8FF;
    float: left;
}

ul li {
    padding: 20px;
    border-bottom: 2px solid white;
    color: black;
}
 a{
    text-decoration: none;
 
}
#li{
    font-size: 20px;
}
p{
    padding-top: 44px;
}
table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    right: 30px;
}
td, th {
    text-align: left;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #dddddd;
}

 #col{
    padding-left: 88%;
    border: 1px;
}
#tdText{
    text-align: center;

}

a{
    padding-top: 30px;
}
@media screen and (max-width: 320px) {
    body{
        font-size: 10px;
    }
    table{
        width: 100%;
    }
}

@media screen and (max-width: 2560px) {
    body{
        font-size: 10px;
    }

}
@media screen and (max-width: 768px) {
    body{
        font-size: 10px;
    }
    .header{
        width: 100%;
    }

}
footer{
    padding: 15px;
    color: #000000;
    margin-top: 10px;
    background-color: #cbd5e0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}