*{box-sizing: border-box}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
/*Global */
.container{
    width: 80%;
    margin: auto;
    overflow-y: hidden;
    padding: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
/*Header */
header{
    background: #4a5568;
    color: #ffffff;
    padding-top:15px;
    min-height: 70px;
    border-bottom:#fed7d7 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    
}
header #branding h1{
    margin: 0;
    
}
header nav{
    float: right;
    margin-top: 18px;
}

header .highlight, header .current a{
   color: #38a169;
   font-weight: bold;
   
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
footer{
    padding: 20px;
    color: #000000;
    margin-bottom: 5px;
    background-color: #cbd5e0;
    text-align: center;
}
@media(max-width: 500px){
    header #branding{
        margin-left: 90px;
    }
    header nav{
        margin-right: 20px;
    }
    
}
@media (max-width: 375px){
    header #branding{
        margin-left: 70px;
    }
    header nav ul li{
        padding: 0 10px;
    }
    
}
@media (max-width: 411px){
    header #branding{
        margin-left: 70px;
    }
    header nav ul li{
        padding: 0 10px;
    }
    
}
@media(max-width: 320px){
    header #branding{
        margin-left: 80px;
    }
    header .container{
        width: 100%;
    }
    header nav{
        margin-right: 30px;
    }
}
@media(max-width: 425px){
    header #branding{
        margin-left: 80px;
    }
    header .container{
        width: 100%;
    }
    header nav{
        margin-right: 30px;
    }

}
h3 {
    margin: 10px 0;
}
h6 {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 12px;

}
p {
    font-size: 17px;
    line-height: 21px;
}
.card-container {
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #000000;
    padding-top: 30px;
    width: 100%;
    text-align: center;

    
}
.card-container .mentor{
    background-color: #febb0b;
    border-radius: 3px;
    color: #231e39;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    
}
.card-container .round{
    border-radius: 50%;
    padding: 7px;
    border: 1px solid #03bfcb;
}
button.primary {
    background-color: #38a169;
    border: 1px solid #38a169;
    border-radius: 3px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    
}
button.primary.ghost {
    background-color: transparent;
    color: #38a169;
}
.skills{
    background-color: #38a169;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    
}
.skills ul li{
    border: 1px solid#2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
    background-color: #cccccc;


}
.skills ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}