*{box-sizing: border-box}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
/*Global */
.container{
    width: 100%;
    overflow-y: hidden;
    

}
.containerform{
    width: 90%;
    padding-left: 80px;
    padding-top: 40px;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
button {
    background-color: #38a169;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

}
button:hover{
    opacity: 1;
}
form{
    padding-bottom: 10%;
    padding-left: 50px;

}
/*Header */
header{
    background: #4a5568;
    color: #ffffff;
    min-height: 70px;
    border-bottom:#fed7d7 3px solid;
    position: fixed;
    width: 100%;


}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    margin: 3;
    
}
header #branding h1{
    font-size: 20px;
    margin-left: 50px;
    
}
header nav{
    float: right;
    margin-top: 18px;
}

header .highlight, header .current a{
   color: #38a169;
   font-weight: bold;
   
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
hr{
    border: 1px solid rgb(104, 194, 107);
    margin-bottom: 25px;
}
/*buttons*/
.cancelbtn {
    padding: 14px 20px;
    background-color: #4a5568;
}
.cancelbtn, .signupbtn{
    float: left;
    width: 50%;
}
.btn::after{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 300px){
    .cancelbtn, .signupbtn{
        width: 100%;
    }
}
/*input fiels*/
input[type=text], input[type=password]
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;


}
input[type=text]:focus, input[type=password]:focus
{
    background-color: #ddd;
    outline: none;

}
footer{
    padding: 15px;
    color: #000000;
    margin-top: 45px;
    background-color: #cbd5e0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
}

@media(max-width: 500px){
    header #branding{
        margin-left: 90px;
    }
    header nav{
        margin-right: 20px;
    }
    #showcase{
        padding: 20px;
    }
}
@media (max-width: 375px){
    header #branding{
        margin-left: 70px;
    }
    header nav ul li{
        padding: 0 10px;
    }
    #showcase .container p{
        font-size: 14px;
    }
}
@media (max-width: 411px){
    header #branding{
        margin-left: 70px;
    }
    header nav ul li{
        padding: 0 10px;
    }
    #showcase .container p{
        font-size: 14px;
    }
}
@media(max-width: 320px){
    header #branding{
        margin-left: 80px;
    }
    header .container{
        width: 100%;
    }
    header nav{
        margin-right: 30px;
    }
}