body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 0;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #4a5568;
    color: white;
    text-align: center;
    font-size: 30px;
    

    
}

.header p{
    padding-top: 40px
}
.sidebar{
    width: 200px;
    max-width: 100%;
    height: 100%;
    background:#F0F8FF;
    float: left;
}

ul li {
    padding: 20px;
    border-bottom: 2px solid white;
    color: black;
}
 a{
    text-decoration: none;
 
}
#li{
    font-size: 20px;
}
p{
    padding-top: 44px;
}

table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    right: 30px;
}
td, th {
    text-align: left;
    padding: 15px;
}
.tt{
    width: 50%;
}

 #col{
    padding-left: 88%;
    border: 1px;
}
#tdText{
    text-align: center;

}

a{
    padding-top: 30px;
}
input{
    padding: 10px 10px;
}
@media screen and (max-width: 320px) {
    body{
        font-size: 10px;
    }
    table{
        width: 100%;
    }
}

@media screen and (max-width: 2560px) {
    body{
        font-size: 10px;
    }

}
@media screen and (max-width: 768px) {
    body{
        font-size: 10px;
    }
    .header{
        width: 100%;
    }

}
footer{
    padding: 15px;
    color: #000000;
    margin-top: 45px;
    background-color: #cbd5e0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
    font-size: 15px
}